.services{
    margin-top: 10vw;
}

.services-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8vw;
    margin-top: 3vw;
}

.services-card{
    width: 20vw;
    min-height: 37vw;
    border-radius: 10px 10px 10px 10px;
}

.services-card:hover{
    transition: ease-in-out .14s;
    transform: scale(1.01);
}

.service-image{
    width: 20vw;
    height: 20vw;
    border-radius: 10px 10px 0 0;
}

@media (max-width: 768px) {
    .services{
        margin: 8vw 1vw 1vw 1vw;
    }

    .services-wrapper{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 8vw;
        margin-top: 6vw;
    }

    .services-card{
        width: 25vw;
        min-height: 37vw;
        border-radius: 10px 10px 10px 10px;
    }

    .service-image{
        width: 25vw;
        height: 20vw;
        border-radius: 10px 10px 0 0;
    }

}
