@import "bootstrap/dist/css/bootstrap.min.css";
@import "bootstrap-icons/font/bootstrap-icons.css";

:root {
    --background: #FFFDD0;
    --foreground: #4F7942;
    --accent: #FFC000;
    --black: #4d4d4d;
    --white: #fdfce5;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

.text-foreground {
    color: var(--foreground);
}

.bg-foreground {
    background-color: var(--foreground) !important;
}

.text-black-custom {
    color: var(--black);
}

.bg-white-custom {
    background-color: var(--white);
}

.navbar-guest {
    background-color: var(--background) !important;
    color: var(--foreground) !important;
    min-height: 9vh;
}

.paragraph-justify {
    text-indent: 1em;
    text-align: justify;
}

.btn-foreground {
    background-color: var(--foreground) !important;
    color: var(--background) !important;
    padding: .5rem 1rem;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}
